body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("../Images/quizwallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#begin-page{
    margin-top: 5%;
    background-color: beige;
}

#title{
    margin-top: 2%;
    font-size: 100px;
    color: black;
}

#btn-play{
    margin-top: 10%;
    margin-bottom: 30%;
    color: white;
}

#gif-answer{
    width: 400px;
    height: 300px;
    margin: auto;
    border-style: outset;
}

